.heart {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 8px;
}

.heart::after {
	content: "";
	display: inline-block;
	width: 32px;
	height: 32px;
	position: relative;
	background: url("../../../../assets/gfx/heart_0.png") no-repeat;
	background-size: contain;
	z-index: 1;
}

.heart[hp-val="1"]::after {
	background-image: url("../../../../assets/gfx/heart_1.png");
}
.heart[hp-val="2"]::after {
	background-image: url("../../../../assets/gfx/heart_2.png");
}
.heart[hp-val="3"]::after {
	background-image: url("../../../../assets/gfx/heart_3.png");
}
.heart[hp-val="4"]::after {
	background-image: url("../../../../assets/gfx/heart_4.png");
}

/* The animation code */
@keyframes heartbeat {
	from {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
	to {
		transform: translate(-50%, -50%) scale(2);
		opacity: 0;
	}
}

.animate::before {
	content: "";
	background-image: url("../../../../assets/gfx/heart_1.png");
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 16px;
	top: 16px;
	z-index: 0;
	transform-origin: 50% 50%;
	transform: translate(-50%, -50%) scale(2);
	opacity: 1;
	animation-name: heartbeat;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.animate[hp-val="2"]::before {
	background-image: url("../../../../assets/gfx/heart_2.png");
}
.animate[hp-val="3"]::before {
	background-image: url("../../../../assets/gfx/heart_3.png");
}
.animate[hp-val="4"]::before {
	background-image: url("../../../../assets/gfx/heart_4.png");
}

.animate:first-child::before {
	animation-duration: 1s;
}
