.slot {
    display:inline-block;
    width:80px;
    height:80px;
    position:relative;
    box-sizing: border-box;
    padding:2px;
    border:solid 2px #999;
    border-bottom-color:#666;
    border-right-color:#666;
    background: rgba(0, 0, 0, 0.4);
    transition: border-color 100ms, background-color 200ms;
    text-align:left;
    vertical-align: bottom;
}

.slot.active {
    border-top-color:gold;
    border-left-color:gold;
    border-bottom-color: goldenrod;
    border-right-color: goldenrod;
    background-color: rgba(0, 0, 0, 0.8);
}

.name {
    display:block;
    position:absolute;
    left:2px;
    top:2px;
    font-size:0.7rem;
    color:#eee;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: -1px 0px 0px#000,1px 0px 0px#000,0px -1px 0px#000,0px 1px 0px#000;
}

.amount {
    position:absolute;
    right:2px;
    bottom:2px;
    font-size:1.3rem;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: -1px 0px 0px#000,1px 0px 0px#000,0px -1px 0px#000,0px 1px 0px#000;
}

.img {
    display:block;
    width:32px;
    height:32px;
    position:absolute;
    left:22px;
    top:22px;
    transition: transform 200ms;
    transform: scale(1.5);
}

.slot.active .img {
    transform: scale(2);
}