.slot {
    display:inline-block;
    width:64px;
    height:64px;
    box-sizing: border-box;
    border:solid 2px #999;
    border-bottom-color:#666;
    border-right-color:#666;
    background: rgba(0, 0, 0, 0.5);
    transition: border-color 300ms;
}

.slot.active {
    border-top-color:gold;
    border-left-color:gold;
    border-bottom-color: goldenrod;
    border-right-color: goldenrod;
}