.slot {
	display: inline-block;
	width: 80px;
	height: 80px;
	position: relative;
	box-sizing: border-box;
	padding: 2px;
	border: solid 2px #999;
	border-bottom-color: #666;
	border-right-color: #666;
	background: rgba(0, 0, 0, 0.4);
	transition: border-color 100ms, background-color 200ms;
	text-align: left;
	vertical-align: bottom;
}

.slot.active {
	border-top-color: gold;
	border-left-color: gold;
	border-bottom-color: goldenrod;
	border-right-color: goldenrod;
	background-color: rgba(0, 0, 0, 0.8);
}
