div[paused='true'] .crosshair {
	display: none;
}

.crosshair {
	position: absolute;
	top: 50%;
	left: 50%;
	pointer-events: none;
	z-index: 100;
	width: 32px;
	height: 32px;
	margin-left: -16px;
	margin-top: -16px;
	background: url('../../../assets/gfx/crosshair.png') no-repeat;
	background-size: contain;
}
