div[paused='true'] .healthWrap {
    display: none;
}

.manaOrbWrap,
.healthOrbWrap {
    display: block;
    position: absolute;
    left: 2px;
    bottom: 7px;
    width: 128px;
    height: 128px;
    background: #556;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px #667;
}

.manaOrbWrap {
    left: auto;
    right: 2px;
}

.manaOrb,
.healthOrb {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fa1107;
    background: radial-gradient(circle, #ff1507, #480502);
}

.manaOrb {
    background: #0711fa;
    background: radial-gradient(circle, #0715ff, #020448);
}

.manaOrbOverlay,
.healthOrbOverlay {
    display: block;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background: #556;
    background: radial-gradient(circle at 64px 64px, #667, #112);
    transition: height 35ms;
}

.manaIcon {
    display: block;
    position: absolute;
    left: 32px;
    top: 32px;
    width: 64px;
    height: 64px;
}
