.systemLog {
    position: absolute;
    left: 8px;
    bottom: 48px;
    width: 480px;
    max-height: 240px;
}

.systemLog > div {
    color: #fff;
    margin-bottom: 6px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-shadow:
        -1px 0px 0px#000,
        1px 0px 0px#000,
        0px -1px 0px#000,
        0px 1px 0px#000;
    opacity: 0;
    transition: opacity 1000ms;
}

.systemLog > div.visible {
    opacity: 1;
}
