div[paused='true'] .hotbar {
	display: none;
}

.hotbar {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1000;
	width: 100%;
	text-align: right;
}

.hotbarSlot {
	display: inline-block;
	width: 80px;
	height: 80px;
	position: relative;
	box-sizing: border-box;
}

.hotbarSlot::after {
	content: attr(slot-index);
	position: absolute;
	left: 6px;
	top: 2px;
	color: #aaa;
}
