div[paused='true'] .hotbar {
    display: none;
}

.hotbar {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    text-align: right;
}

.hotbarSlot {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    box-sizing: border-box;
    padding: 2px;
    border: solid 2px #999;
    border-bottom-color: #666;
    border-right-color: #666;
    background: rgba(0, 0, 0, 0.4);
    transition: border-color 100ms, background-color 200ms;
    text-align: left;
    vertical-align: bottom;
}

.hotbarSlot::before {
    content: attr(slot-index);
    position: absolute;
    left: 2px;
    top: 2px;
    color: #aaa;
}
