html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #000;
    color: #fff;
}

#wolkenwelten-parent {
    display: block;
    position: relative;
}

canvas.wolkenwelten-canvas {
    display: block;
    user-select: none;
}

#wolkenwelten-parent .wolkenwelten-canvas-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

#wolkenwelten-parent .fx-underwater::before {
    background: radial-gradient(rgba(0, 0, 255, 0.4), rgba(0, 0, 48, 0.9));
}

#wolkenwelten-parent .fx-inventory::before {
    background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
}

@keyframes fxDamage {
    0% {
        background-color: transparent;
    }
    1% {
        background-color: rgba(255, 0, 0, 0.5);
    }
    100% {
        background-color: transparent;
    }
}

#wolkenwelten-parent .fx-damage::before {
    animation: fxDamage 300ms linear;
}
